In [87]:
from bs4 import BeautifulSoup as bs
import requests, openpyxl
import time
import openpyxl

Import des librairies nécessaires

In [88]:
source = requests.get("https://www.imdb.com/chart/top/")

soup = bs(source.text, 'html.parser')

movies = soup.find('tbody', class_="lister-list").find_all('tr')

on récupère le lien de notre site

In [89]:
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = 'top film'
sheet.append(['name', 'rank' ,'year' ,'rating','crew'])

In [90]:
names = []

for movie in movies:
            name = movie.find('td', class_="titleColumn").a.text
            rank = movie.find('td', class_="titleColumn").get_text(strip=True).split('.')[0]
            year = movie.find('td', class_="titleColumn").span.text.strip('()')
            rating = movie.find('td', class_="ratingColumn imdbRating").strong.text
            crew =  movie.find('td', class_="titleColumn").a.attrs.get('title')
        
            sheet.append([name,rank,year,rating,crew])

AttributeError: 'NoneType' object has no attribute 'title'

In [84]:
excel.save('movies.xlsx')

In [85]:
import pandas as pd

In [86]:
df = pd.read_excel('movies.xlsx')
df

                                    name  rank  year  rating  crew
0                             Les Évadés     1  1994     9.2   NaN
1                             Le Parrain     2  1972     9.2   NaN
2    The Dark Knight : Le Chevalier noir     3  2008     9.0   NaN
3                  Le Parrain, 2ᵉ partie     4  1974     9.0   NaN
4                    12 Hommes en colère     5  1957     9.0   NaN
..                                   ...   ...   ...     ...   ...
245                        Dersou Ouzala   246  1975     8.0   NaN
246                              Aladdin   247  1992     8.0   NaN
247            La couleur des sentiments   248  2011     8.0   NaN
248                               Gandhi   249  1982     8.0   NaN
249                      Le géant de fer   250  1999     8.0   NaN

[250 rows x 5 columns]